- content_for :head do
  %meta{:name => "description", :content => "iCouch is the most secure online therapy site anywhere. We're HIPPA compliant and take client privacy very seriously."}/
  %meta{:name => "keywords", :content => "counseling, SAS 70, TLS, SSL, Transport Layer Security, therapy, security, HIPPA, encryption, privacy, protected information, personal information, 256 bit encyption, Rackspace, cloud security, mental health, mental health privacy, online counseling, online therapy, encypted video counseling" }/
  %title
    =@title = "About iCouch Security and Privacy"

%section#static_content
  %header
    %h1
      iCouch Security and Privacy
    %article.copy
      %br
      %br
      %br
      %br
      %h2
        iCouch cares about the security of your personal information.
      %p
        Your personal privacy is vital to iCouch. It's our highest priority. iCouch is fully HIPPA compliant which means that your information is safe and protected behind layers of security.
      %ul
        %li
          Your video session on iCouch is never recorded. Counselors are not permitted to record sessions for any reason. Exceptions to that policy require written, signed and notarized releases from you, your therapist and the iCouch Clinical Director.
        %li
          The iCouch.me site uses Transport Layer Security (TLS) which is a newer version of Secure Sockets Layer (SSL) security. TLS is the most robust security protocol available on the internet. It's so good, that if your browser is not compatible, you can't connect to iCouch. Everything on iCouch.me is secure. You can verify this by noting the https:// in your browser address bar.
        %li
          Beyond the browser, our servers are highly secure. Our servers operations are SAS 70 Type II certified. SAS 70 is a type of audit that confirms internal controls and security procedures. What does it mean to you? It means that your iCouch experience is as secure as it can possibly be.
        %li
          We're HIPPA compliant. In fact, we're beyond HIPPA compliant and have threat management systems in place to protect against any funny-business with our site. Our security is regularly audited -- security is our top priority.
      %h2
        iCouch is the most secure online therapy platform in existence.
