- content_for :head do
  %meta{:name => "description", :content => "iCouch answers your questions about online counseling, therapy and the low-cost, convienience of the iCouch platform."}/
  %meta{:name => "keywords", :content => "counseling, online counseling, counseling research, legal, counselor licensing, safety, informed consent, cost, payment, online therapy" }/
  - @title ="iCouch Frequently Asked Questions"
  %title =@title

%section#static_content
  %header
    %h1 Frequently Asked Questions
  %article.copy
    %h2 What is iCouch online counseling?
    %p== iCouch online counseling is just like “normal” counseling, only it takes place online. Our providers are available for online video or even chat sessions. Although chat can be effective in some situations, we feel that video is best &mdash; it’s just like being there. As a majority of communication is non-verbal, a trained counselor can provide you with the best results through video. While you might say, “I’m very happy,” your facial expressions might indicate otherwise.

    %h2 Does it work?
    %p== If it didn’t we wouldn’t be in business! It works. It works well. In fact, the scientific community has done countless studies on online counseling and research clearly shows that online counseling is just as effective as “normal” in-person counseling. It’s not the medium &mdash; it’s the message. We feel that online counseling is even more effective than conventional, office-based counseling. Why? Simple &mdash; counseling only works if you show up! At iCouch, we make getting to appointments easy and affordable. Your counselor is as close as your computer, iPhone or iPad 2. As we like to say at iCouch, we bring the couch to you!
    
    %h2 What if I have to cancel a session?
    %p== Sessions can be cancelled with at least 48 hours notice. Session credits are not refundable and any session cancelled with less than 48 hours notice will not be subject to rescheduling -- counselors may reschedule if they choose, however they are not required to do so. The reason this policy is so strict is to ensure that counselors are have available times for everyone.
    %h2 Is online counseling legal?
    %p Yes, of course! It’s not only legal, but insurance companies will even reimburse for online sessions (provided your policy covers mental health services.) Some of our competitors won’t allow you to have a session with a provider outside of your state. However, the laws (in the United States) only require that counselors be licensed in the state in which they’re practicing. What that means for you is that you can not only select counselors from your state, you can select counselors from anywhere in the world.
    %p When you have an online session, you are effectively “visiting” that counselor’s office. As long as they are legal within their area, they’re legal! Some countries, such as the United Kingdom don’t have government licensing of psychologists, however these counselors are usually members of professional organizations with similar experience and education requirements as licensing boards in the US require. So yes — online counseling is legal and, thanks to the Interstate Commerce Clause of the US Constitution, Americans can seek treatment from providers outside their state. Counselors still have to be licensed — but as long as they’re licensed in their home area, you’re free to “visit” them. Just think of the Internet as a taxi — it takes you directly to your counselor’s office without you having to leave your couch!
    %p A counselor’s license information is visible on their profile page — feel free to check them out on your own.  At iCouch, we do attempt to verify the credentials of our counselors, but more importantly, we provide you the tools to do your own homework. iCouch not only brings the couch to you — we also bring a worldwide network of qualified professionals to you. Choose a counselor based on their religious knowledge, language, specialties or even their university. We give you choices and we make it easy to find the best counselor for you!

    %h2 Is online counseling safe?
    %p== Yes! Unlike most counseling providers, iCouch is #{link_to "HIPAA", "http://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act/"} compliant. Our site is highly encrypted. We use #{link_to "256 bit encyption", "http://en.wikipedia.org/wiki/Advanced_Encryption_Standard"} &mdash; many “secure” sites only use 40 bit encryption. What this means is that iCouch is as secure as the best banks.  But we go beyond that; iCouch and iCouch staff members never have access to your treatment information, only you and your counselor. The only information iCouch has is your payment history, which counselors with whom you have had sessions and your initial profile created on sign up. We never, ever share any personally identifying information with anyone. We don’t talk to insurance companies, employers or even law enforcement unless specifically required by law. Even the fact that you’re a client is kept entirely confidential. So if you’re Brad Pitt, the President of the United States or a “normal” person -- no one will ever know that you are or have ever been a client. We value your privacy. We want you to feel completely open and secure about getting counseling. After all, if you’re comfortable &mdash; you’ll not only use our service, but you’ll recommend us to your friends and family.

    %h2 What do I need to use iCouch?
    %p You can use iCouch from any computer with a webcam, your iPhone 4 or iPad 2 or other video-enabled mobile device.  You also need an internet connection. Some of our providers can also do phone sessions, although we feel that video is the best thing for online counseling!

    %h2 Are counselors licensed/credentialed?
    %p All of our counselors are licensed in their location. We do have a few meditation specialists who are not licensed, however these professionals are not required to be licensed. Their backgrounds are thoroughly checked though. We don’t have “psychics,” or “spiritual” advisors on iCouch. Unlike some of our competition, we don’t open our counseling network to just anyone. We’re selective — we want only the best counselors because we want you to only have the best therapy. License information is listed on every provider’s profile. You are free (and encouraged) to verify your potential provider’s license. At iCouch, we verify licenses as well as check for reports of misconduct through the provider’s licensing board. We verify education and even check providers criminal history.  However, the final responsibility for verifying counselor qualifications is yours.

    %h2 "What about informed consent? What’s that all about?"
    %p Informed consent is the agreement between you and you counselor that gives them permission to treat. Each counselor handles their own informed consents, however we do encourage them to use the #{link_to "RightSignature", "http://rightsignature.com/p/BD"} system. RightSignature is an awesome service that allows you to sign documents online. It’s highly secure and you get a digital, legally-binding copy of everything you sign. It’s the most secure online document system available. Most of our providers currently use the system; however we will ultimately have all of our counselors using RightSignature — making it easy for you to easily sign your informed consent in a safe, secure way.

    %h3 Want to learn more? Visit the #{link_to"iCouch Lounge", the_lounge_path}!
    %h3 Your therapy. Your couch. iCouch.
