- content_for :head do
  %meta{:name => "description", :content => "How does therapy or counseling help me? How does counseling work? What happens in a therapy session?"}/
  %meta{:name => "keywords", :content => "counseling, therapy, online counseling, online therapy, modern, psychologists, psychiatrists, medication, therapy process, counseling explaination" }/
  - @title ="iCouch | How Does Therapy Work?"
  %title =@title

%section#static_content
  %header
    %h1 What is therapy and why should I care?
  %article.copy
    %p== Counseling, therapy, psychotherapy, psychoanalysis, counselors, psychologists, therapists, shrinks, psychiatrists&hellip;
    %p What is all this stuff? Who are these people anyway? Why should I care? What does it mean to me?
    %p All of this stuff is about one thing: your mental health. They are all tools for making you the best person you can be. It's about solving problems, making plans, helping you overcome and find your best self.
    %h2== Therapy isn't a bad thing &mdash; it's like a massage &mdash; for your soul!
    %p Back in the olden times, going to a "headshrinker" or "shrink" was something only "crazy" people did. If you told your friends or family that you wanted to see a psychotherapist, they'd exchange knowing glances and without fail, old Aunt Edna would tell the ladies at the quilting bee about her crazy nephew who needed a head doctor. Or, it would be treated like a dark family secret, something never to be spoken about in polite company.
    %p== Those days are over&hellip;
    %p Therapy today isn't only about depression, anxiety or other problems. While it's certainly great for those situations, it's also about making yourself better. When a corporation hires a consultant to help increase efficiency, no one looks down upon that company for asking for help. In fact, one of the hallmarks of a great manager is knowing when to bring in outside help and recognizing areas for improvement.
    %h2 A counselor is your personal consultant.
    %p Counselors and therapists are the same thing. They are mental health professionals that work with clients to solve problems, improve their outlook or overcome issues. A psychologist is a scientist who studies human thinking. A psychiatrist is a medical doctor who specializes in the treatment of mental disorders.  It seems to be fashionable to take a pill for everything. While there's no question that many mental issues have biological causes, simply taking a pill doesn't fix your problems. It takes a desire to change, a hope to improve and hard work! While counselors don't prescribe drugs, they can help with the "hard" work of improving your thought processes and helping you understand and overcome.
    %h2== "Ok, ok, I got it, counselors are cool &mdash; but what can they actually DO for me? "
    %p Here's how it works. When you begin seeing a counselor, you'll spend a good portion of your first session simply talking about yourself. You'll talk about what you want to "fix" what's bothering you or goals you have. The counselor does a lot of listening at this point. Listening to a counselor is like taking your mental "pulse." Just as a pulse, blood pressure and pain can tell a doctor about your physical condition, listening lets the counselor understand your mind. Much of the first session is also spent developing a counseling relationship. It takes trust for counseling to be effective. A counselor earns your trust by listening, not judging and allowing you to express yourself without guilt. Counseling is the place to let it all out!
    %p After listening to your concerns and situation, a counselor will start the process of figuring you out.  Your counselor will ask questions designed to illuminate not only your concerns, but also make you aware of new possibilities for understanding yourself and your situation. Great questions are very important.  Just like Socrates famously taught his students using an engaged questioning style, a great counselor can use questions to begin the process of guiding you towards new ways of thinking.
    %p The specific approach used by your counselor varies, but generally counselors fall into four major "schools" of therapy. There is considerable overlap and since no particular therapeutic style works perfectly for everyone; a skilled counselor knows when to shift or blend techniques based on the client's situation.
    %h2 Want to learn more? Visit the #{link_to"iCouch Lounge", the_lounge_path}!
    %h3 Your therapy. Your couch. iCouch.
