- content_for :head do
  %meta{:name => "description", :content => "Meet Enrico and Julie. They have a storybook romance but even the best couples sometimes need help."}/
  %meta{:name => "keywords", :content => "counseling, therapy, couples therapy, online counseling, online therapy, international, video counseling, expat, young adult, pre-marriage counseling, relationship counseling, etherapy" }/
  = javascript_include_tag "jquery-1.6.2.min", "jquery.easing.1.3.min", "royal-slider-8.1.min"
  = stylesheet_link_tag "rs_default", "royalslider"
  %title
    =@title = "iCouch | Meet Enrico and Julie."

%section#clientprofiles
  %header
    %h1
      Meet Enrico and Julie
    %photo
      = image_tag("/images/enrico_julie_profile.jpg", :alt => "Meet Enrico and Julie, iCouch Clients")
    %h2
      Italian. American.
    %h3
      A storybook romance.
    %h3
      He's Italian and she's American.
    %h3
      They love each other, but when cultures collide, a little help goes a long way.
    %h4
      "With love anything is possible right? When we met each other, we knew we belonged together. But, new cultures take some getting used to, especially if you're living with one! We needed some help understanding each other better, but we didn't know where to turn."
    %h3{:style => "text-align:right"}
      \..until
      %strong
        iCouch.
    %h2
      %br
      =link_to "Find your help now!", search_counselors_path
  %article
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "518", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/37196589?title=0&amp;byline=0&amp;portrait=0&amp;color=5d939f", :webkitAllowFullScreen => "", :width => "921"}
    %hr
    %profilesleft
      %h1
        Enrico Bertolucci
      %h3
        Enrico loves life, great food, great wine and the World Cup. He's from Rome -- a city full of excitement, chaos and high culture. He went to Korea to teach physical education at a private school in Seoul because he wanted to experience something new and outside of his comfort zone.
      %h4
        %strong
          "I have a big noisy family and Julie is more shy. Love easily crosses borders, but after about 6 months, those small differences made things difficult, especially when there were misunderstandings. Our iCouch therapist helped us see the world from each other's shoes and learn to celebrate our differences and appreciate our similarities."
    %profilesright
      %h1
        Julie Wainwright
      %h3
        As an American girl from a small town in Texas, Julie hadn't seen much of the world beyond the Lone Star State until she went to teach English in Korea after college. She loves football, barbeque and the outdoors. She went looking for adventure, but had to confront her own insecurities about being so far from the world she thought she knew.
      %h4
        %strong
          "I was used to wide open spaces, riding horses and being under the big skies of Texas. When I met Enrico, he was exotic, but I saw that he was also a lot like me, a romantic that valued the people in his life. With the stress of moving to Korea combined with our culural differences, things were a bit challenging! It's all worth it though. Thanks to our iCouch therapist, I was able to get past my anxiety and learn to enjoy la dolce vita with a man I love!"
    
    %findhelp
      %h1
        =link_to "Find your help now!", search_counselors_path
    %hr
