- content_for :head do
  %meta{:name => "description", :content => "iCouch has the best privacy protection in online counseling."}/
  %meta{:name => "keywords", :content => "counseling, privacy, security, policy, privacy policy, encryption, private information, online counseling, online therapy" }/
  - @title ="The iCouch Privacy Policy"
  %title =@title

%section#static_content
  %header
    %h1 Our Privacy Policy
  %article.copy
    %p There's nothing more private than the decision to seek counseling. Your financial life is reflected in your credit reports, your work life is reflected in your employment files, but the decision to seek counseling remains privileged information -- for no one to know but you and your counselor.
    %p In fact, we started iCouch.me specifically because we wanted to create a way for people to get the counseling they want in a private, protected setting. There's no place more private than your home -- as we like to say, iCouch.me brings the couch to you.
    %p At iCouch, we take your privacy very seriously. In fact, even your visit to iCouch.me is kept confidential. Absent a court order, we will never release your identifying information to outside parties. That includes releasing information such as your IP address among the more obvious personal information such as your name and address.  
    %p While lawyers love fine print, at iCouch.me, we hate it! There's no fine print. If there's something you don't understand, just ask us! We love email from our users.

    %h2 Here's our privacy policy:
    %ol
      %li We will never release your name or other identifying information to outside parties. An "outside party" means anyone who isn't an employee or a counselor with iCouch, Inc.
      %li We will only provide certain information to your chosen counselor. iCouch.me doesn't share your billing information with counselors, for any reason. We also don't share your address. We will share your city, state or country with your counselor since that information could be important to your counseling.
      %li We only share treatment information with your specific counselor. Your counselor is the only one with access to your treatment records. Any notes taken by your counselor during a session are only accessible to your counselor. iCouch employees can't read your treatment file. If you switch counselors, your prior treatment notes or session histories are not shared with the new counselor, unless with your written consent submitted to your old counselor, and even then, iCouch, Inc. never has access to your counselor's treatments notes.
      %li iCouch, Inc. can use your statistical data in order to improve services or for research, but no identifying data will ever be used.
      %li You agree to keep your password safe and not to share it with anyone for any reason.
      %li iCouch.me generally does not permit counselors to record sessions. If you or your counselor ever need to record a session, iCouch, Inc. will require signed release forms from both you and your counselor. iCouch has no recording capability built into our software.
      %li The only time a counselor is authorized to contact a third party about your treatment (without your consent) is in the rare instances required by law and only then to the proper authorities. This would include situations where a life is at an immediate risk or in cases of child abuse (if required by local law.) The allowable situations may vary depending on your counselor's local laws, but information releases will only be allowed if required by law. If you ever have a question about lawful releases of information, please consult your counselor. Counselors are subject to the laws of their jurisdiction, not necessarily yours. When in doubt, ask your counselor or consult an attorney familiar with the laws of your counselor's location.
      %li While your treatment takes place online, for the purposes of law, the counselor's location is the "office" and their locale's laws govern your treatment. For privacy concerns not related directly to your treatment, the laws of Nevada (USA) and the United States of America will govern this agreement. We follow guidelines established by the Health Insurance Portability and Accountability Act of 1996 (HIPAA).
    %p If you have any questions, please email #{mail_to 'privacy@icouch.me'}.
    %h3 Want to learn more? Visit the #{link_to"iCouch Lounge", the_lounge_path}!
    %h3 Your therapy. Your couch. iCouch.
