- content_for :head do 
  - @title ="iCouch Counselor Terms of Service"
  %title =@title

%article.policy
  %h1 Counselor Terms of Service

  %p
    Welcome to iCouch!

  %p
    iCouch.me is a web application for online professional counseling services.
    iCouch.me is a division of iCouch, Inc.
  %p
    Features of this site are are subject to change or termination without
    notice, however unlikely. We’ll do our best to keep you notified of all
    significant changes to the site through our Counselor Update emails. You
    agree that unsubscribing to this list will take you out of the loop
    regarding important updates or changes to the iCouch.me site.
  %p
    These Terms set and contain all of the terms and conditions between you and
    iCouch. Registration as a Counselor on the site creates a binding agreement
    between you and iCouch.
  %p
    If you don’t agree with these Terms, or if, at a later time, you decide
    that you don’t want to be bound by these terms, you can cancel your
    Counselor account and quit using the service. This agreement is in effect
    while you are a registered Counselor with iCouch.
  %p
    While we don’t expect any professional counselors under the age of 18, we
    still need to tell you that you must be 18 or older to register as a
    Counselor and use the iCouch.me service.
  %p
    By accepting these terms, you agree to follow the iCouch Privacy Policy,
    along with any local laws in your area that concern client confidentiality
    or safety. You alone are responsible for ensuring that you are following
    your local laws.
  %p
    Here’s what iCouch.me provides: We provide a web application/software
    platform allowing you to offer counseling (and related) services online. We
    make no representation or warranty whatsoever as to the willingness or
    ability of clients to pay for any of your services. Therefore, you should
    be careful to verify that a booking has been confirmed through the iCouch
    site before beginning any sessions with your client. When a client confirms
    a booking, their credit card is charged a deposit or the full amount of the
    session. There occasionally comes an issue with chargebacks (when the
    client disputes the credit card charge.) In this situation, iCouch and our
    payment processor will work to resolve the issue. We expect (and hope) for
    your cooperation during this process. This is a rare event, but if it does
    happen, we may have to delay your payment (for that specific client) until
    the dispute is resolved. This is rare, but we want you to be fully aware of
    some of the risks inherent to online payment systems.

  %h3
    Here’s the important legalese:

  %h4
    Disclaimer of Warranty and Limitation of Liability
  %p
    YOU ACKNOWLEDGE AND AGREE THAT iCouch.me IS BEING PROVIDED FOR USE AS IS,
    AND THEREFORE YOU WILL NOT HAVE ANY PLEA, CLAIM OR DEMAND VIS-A-VIS ICOUCH
    IN RESPECT TO ICOUCH.ME’S USERS, PROPERTIES, LIMITATIONS OR COMPATIBILITY
    WITH THE YOUR NEEDS. THE USE OF ICOUCH.ME IS ACCORDINGLY BEING MADE AT YOUR
    SOLE AND ENTIRE RISK, WITHOUT WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, NON-INFRINGEMENT, COMPATIBILITY, SECURITY OR ACCURACY.
    ICOUCH EXPRESSLY DISCLAIMS ALL WARRANTIES FOR INFORMATION POSTED OR
    TRANSMITTED BY ITS USERS.
  %p
    IF YOU DECIDE TO PROVIDE SERVICES THROUGH THE USE OF ICOUCH.ME, YOU MUST
    EXERCISE A REASONABLE STANDARD OF CARE, AT LEAST THE SAME AS YOU WOULD IN A
    SIMILAR TRANSACTION NOT CONDUCTED THROUGH THE INTERNET, OR THE STANDARD OF
    CARE MANDATED BY HIS OR HER PROFESSION, WHICHEVER IS HIGHER. THE YOU SHALL
    NOT HAVE ANY PLEA, CLAIM OR DEMAND AGAINST ICOUCH, ITS AFFILIATES, AND
    THEIR RESPECTIVE OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES,
    SUB-CONTRACTORS AND AGENTS IN RESPECT OF ANY SERVICES YOU DECIDE TO PROVIDE
    IN CONNECTION WITH THE USE OF ICOUCH.ME.

  %h5
    This part is really important:
  %p
    %strong
      ICOUCH WILL NOT BE DEEMED THE PROVIDER OR RECIPIENT OF ANY SERVICES
      ACQUIRED THROUGH ICOUCH.ME. THE SALE OR PURCHASE OF SERVICES IS
      ACCORDINGLY EFFECTED AT THE YOUR SOLE AND ENTIRE RISK. UNDER NO
      CIRCUMSTANCES WILL ICOUCH, ITS AFFILIATES, AND THEIR RESPECTIVE OFFICERS,
      DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS AND AGENTS BE LIABLE
      TO ANY COUNSELOR OR USER FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL,
      SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS
      OF BUSINESS, REVENUE, PROFITS, USE, DATA OR OTHER ECONOMIC ADVANTAGE),
      HOWEVER IT ARISES, WHETHER IN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
      TORTIOUS ACTION, OR ARISING FROM THE SERVICES OR ANY PROVISION OF THIS
      AGREEMENT. ICOUCH, ITS AFFILIATES, THEIR RESPECTIVE OFFICERS, DIRECTORS,
      SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS AND AGENTS’ AGGREGATE LIABILITY
      FOR DIRECT DAMAGES ARISING WITH RESPECT TO THIS AGREEMENT WILL NOT EXCEED
      THE TOTAL AMOUNT OF COMMISSIONS PAID TO ICOUCH IN THE SIX MONTH PERIOD
      PRIOR TO THE DATE THE CLAIM AROSE. YOU ACKNOWLEDGE AND AGREE THAT ICOUCH
      DISCLAIMS ANY LIABILITY WITH RESPECT TO ANY CLAIM, SUIT OR ACTION BROUGHT
      BY A USER IN CONNECTION WITH PROVISION OF ANY SERVICES BY YOU (INCLUDING,
      WITHOUT LIMITATION, REPRESENTATIONS BY YOU AS TO YOUR QUALIFICATIONS,
      DEGREES, EXPERIENCE OR CERTIFICATIONS) THROUGH ICOUCH.ME OR AFFILIATES
      AND YOU AGREE TO INDEMNIFY AND HOLD ICOUCH HARMLESS IN CONNECTION WITH
      ANY SUCH CLAIM AND ANY DAMAGES OR EXPENSES ARISING THEREFROM. ICOUCH WILL
      NOT BE LIABLE FOR ENFORCING ANY AGREEMENT THAT WAS MADE BETWEEN YOU AND A
      USER. YOU FURTHER ACKNOWLEDGE THAT YOU WILL SOLELY BE RESPONSIBLE AND
      LIABLE FOR ANY DAMAGES TO ANY USER TO WHOM YOU PROVIDE SERVICES AND WHERE
      THAT USER SUFFERS DAMAGES ARISING FROM OR CONNECTED TO SUCH SERVICES. IN
      THE EVENT OF A DISPUTE REGARDING ANY TRANSACTION CONDUCTED THROUGH
      ICOUCH.ME, YOU HEREBY RELEASE ICOUCH AND ITS AFFILIATES, AND THEIR
      RESPECTIVE OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS
      AND AGENTS FROM ALL MANNER OF ACTIONS, CLAIMS OR DEMANDS AND FROM ANY AND
      ALL LOSSES (DIRECT, INDIRECT, INCIDENTAL OR CONSEQUENTIAL), DAMAGES,
      COSTS OR EXPENSES, INCLUDING, WITHOUT LIMITATION, COURT COSTS AND
      ATTORNEY’S FEES, WHICH YOU MAY HAVE AGAINST ONE OR MORE OF THE ABOVE.
  %p
    IF YOU ARE A PHYSICIAN, MENTAL HEALTH PROFESSIONAL OR OTHER MEDICAL EXPERT:
    THE ADVICE OR INFORMATION YOU PROVIDE TO USERS IS FOR INFORMATIONAL
    PURPOSES ONLY AND CANNOT BE CONSIDERED A SUBSTITUTE FOR A FACE-TO-FACE
    PHYSICAL EXAMINATION OF THE USER BY A MEDICAL PROFESSIONAL. YOU WILL
    PROVIDE INFORMATION AND ADVICE ONLY ABOUT NON-EMERGENCY MATTERS. FOR
    EMERGENCY MATTERS YOU WILL INSTRUCT THE USER TO IMMEDIATELY CALL 911 OR
    THEIR LOCAL EMERGENCY ASSISTANCE NUMBER. IF YOU ARE A PHYSICIAN, MENTAL
    HEALTH PROFESSIONAL OR OTHER MEDICAL EXPERT, YOU WILL NOT ENGAGE IN THE
    PRACTICE OF MEDICINE OR ENTER INTO A PHYSICIAN/PATIENT RELATIONSHIP WITH
    ANY USER THROUGH ICOUCH.ME.

  %h3
    In Addition, you agree that you:
  %ul
    %li
      Will not diagnose, treat, test, recommend a course of treatment, or
      otherwise provide or perform services that require an in-person physical
      examination of a User.
    %li
      Will not prescribe or dispense medicines, unless you are a licensed
      Medical Doctor;
    %li
      Will recommend that Users seek the advice of a physician who can perform
      an in-person physical examination;
    %li
      Will advise users that your advice is not a substitute for the advice of
      a physician;

  %h3
    Additional Counselor Representations and Warranties:
  %p
    At all times you, the Counselor, will provide correct and accurate
    representation of skills, degrees, qualifications, background and other
    information as prompted by any form by iCouch.me, and will maintain and
    update all such information during the term of this Agreement to keep it
    true, accurate, current and complete. You will maintain such skills,
    qualifications and other information, including maintaining your status in
    good standing as a licensed professional in any jurisdiction, as may be
    required by that jurisdiction, where you practice your profession.
  %p
    You will not provide any legal or medical advice or other advice or
    information which may only be lawfully rendered or provided by a licensed
    professional who has established a physician-patient relationship,
    attorney-client, or other relationship. You will not provide any medial or
    legal information unless you are a licensed professional in good standing
    in the relevant field of expertise and you abide by all relevant laws,
    rules and regulations, including, without limitation rules of ethics and
    professional responsibility.
  %p
    You will not offer or provide advice, directly or through writings, as to
    the value of securities or as to the advisability of investing in,
    purchasing or selling securities or any report or analysis concerning
    securities. You will not offer advice or provide any product or services
    related to or claiming success with lottery numbers.
  %p
    You will not misrepresent yourself or create a misleading name or listing.
    The aforementioned is an ongoing affirmative obligation for you to maintain
    and update on a regular basis.

  %h3
    Your Conduct:
  %p
    You, the Counselor, will be solely and fully liable for all conduct,
    services, advice, postings and transmissions that are made under your user
    name and password. You represent, warrant and declare that while you are
    using iCouch.me as a Counselor, you will act according to the following
    rules:
  %p
    You will be solely responsible for the services provided to Users and to
    the verification of User’s identity and other information delivered to you
    by Users;
  %p
    All interactions between You and a User will be billed through iCouch
    regardless if the interaction is online or offline.
  %p
    All contact between you, consumers and any other users who are introduced
    through the iCouch platform must be conducted only through the iCouch
    platform.
    %strong
      Exchange of personal contact information is strictly prohibited.
    Any exchange of contact information outside of the iCouch platform, whether
    via personal email, phone, in person or any other means, is strictly
    prohibited and is a violation of this Agreement. In the event iCouch
    suspects or determines any such unauthorized contact, iCouch reserves the
    right to withhold payments, levy fines, and/or suspend or terminate service
    in its sole and absolute discretion.
  %p
    You will not take any actions which may undermine, disrupt or manipulate
    the integrity of any current or future User feedback (rating) system on the
    Site. iCouch also reserves the right to exclude without explanation, any
    rating that we think may compromise the integrity of the user feedback
    system.
  %p
    You will not attempt to gain unauthorized access to other computer systems
    or networks connected to the Site, and will not transmit “junk mail”, or
    any unsolicited mass distribution of e-mail or bulletin board postings;
  %p
    You will not transmit through the Service any unlawful, harassing,
    libelous, privacy invading, abusive, threatening, defamatory, vulgar,
    obscene, racist, harmful or otherwise objectionable material of any kind;
  %p
    You will not disobey or breach this Agreement or any other applicable
    instructions conveyed by iCouch or its officers;
  %p
    You will not violate any applicable local, state, national or international
    law, statute, ordinance, rule, regulation or ethical code;
  %p
    You will not upload, post, e-mail, transmit or otherwise make available:
    (a) any information or material that infringes a third party right,
    especially copyright or other intellectual property rights; (b) any third
    party advertisements, including banner exchange services; © software
    viruses, Trojan horses, worms or any other malicious application or (d) any
    information or material which may constitute or encourage conduct that is a
    criminal offense or civil wrong or otherwise violates any applicable law;
  %p
    You will not impersonate any person or entity, or make any false statement
    regarding your employment, agency or affiliation with any person or entity;
  %p
    You will not stalk, threaten or harass User or other Counselors or invade
    or attempt to invade their privacy;
  %p
    You will not disclose any information that was provided to you by a User
    and will use his or her best efforts to guard user’s privacy; and
  %p
    You agree to comply with all applicable laws regarding use of this Site.
    You may not use this Site to solicit the performance of any illegal
    activity or other activity which infringes the rights of iCouch or others.
    You agree not to use any device, software or routine to interfere or
    attempt to interfere with the proper working of the Site or any other
    person’s use of the Site. You may not attempt to gain unauthorized access
    to any portion or feature of the Site by hacking, password “mining” or
    other illegitimate methods of gaining access to restricted data.
  %p
    iCouch may review your personal profile and amend any typing or spelling
    errors. iCouch cannot and will not verify or examine the truthfulness or
    accuracy of the details in your personal profile, credentials,
    qualifications, or any of your postings or transmissions. However, iCouch
    may, in its absolute discretion, remove or refuse to post or transmit any
    content uploaded by the you. Without derogating from the above, iCouch may
    remove any content violating this Agreement. You will bear all the risks
    associated with the uploading and transmitting material utilizing
    iCouch.me, including reliance on its accuracy, reliability or legality.

  %h3
    Session Fees:
  %p
    iCouch will use reasonable efforts to process the user’s credit card for
    the amount agreed upon within seven (7) working days from the execution
    date of each transaction.
  %p
    Starting April 25, 2011, the iCouch commission structure will on a sliding
    scale between 15%-25%. This commission will be determined by your monthly
    session volume.
  %p
    The Commission will be deducted from any payment that will be received by
    iCouch and credited to your account within a reasonable period (7-10 days)
    upon receipt of such payment.
  %p
    %strong
      You alone are responsible for reporting and paying any applicable tax or
      tariffs levied on him in connection with fees receivable or received.
  %p
    Notwithstanding the foregoing, you authorize iCouch to withhold, in its
    discretion, payments to you of certain amounts paid by users by credit card
    until adequate time has passed to ensure that the payment will not be
    disputed by the paying user or charged back by such user’s credit card
    issuer, or, if iCouch reasonably believes that fraudulent activity may have
    occurred in connection with payment, until iCouch is able to verify that no
    such activity has occurred.
  %p
    iCouch’s billing system is not error-free, and iCouch shall not be liable
    for any problems, miscalculations or malfunctions in processing fees or
    other payments due to you. If you think that a mistake has occurred he or
    she must send his/her complaint to counselors@icouch.me within 30 days of
    discovery of such mistake. If for any reason the user has not paid the fee
    or has paid but has later charged back such payment, no fees will be paid
    to you for that transaction and if the money has already been sent to you,
    you are required to repay this amount to iCouch, and iCouch has the right
    to deduct this amount from your account or from the following payments to
    be made from iCouch to you.

  %h3
    User Name and Password
  %p
    When you create and open an account with iCouch.me, you will be asked to
    provide a user name and password.
    %strong
      You are entirely responsible for maintaining the confidentiality of your
      password and user name and any other security information related to your
      account. You will be fully responsible for all activities that occur
      under your account, user name or password. You may not use the account,
      username or password of someone else at any time. You will immediately
      notify iCouch of any unauthorized use of your password, user name, e-mail
      or any other breach of security. iCouch encourages you to change your
      password at least once a month.
  %p
    iCouch will not be liable for any loss that you incur as a result of
    someone else using your account or your password, either with or without
    your knowledge. You may be held liable for any losses incurred by iCouch
    due to someone else’s use of your account or password.

  %h3
    Your Information
  %p
    You do not have to furnish the information required for registration in
    iCouch.me. However, without that information, you will not be able to use
    iCouch services. iCouch Inc. is the sole owner of the information collected
    on this Site. iCouch will not sell, share, or rent this information to
    others in ways different from what is disclosed in this Agreement. By
    consenting to this Agreement, you agree and acknowledge that iCouch may
    collect, process, and transfer any information, private or otherwise, so
    long as iCouch does so for the purpose for which it was collected.
  %p
    In order to use iCouch.me, both users and you must first complete the
    registration form. During registration, you are requested to furnish
    contact information, such as name and e-mail address. This information is
    used to contact you about the services on iCouch.me for which he or she has
    expressed interest, and is also used as your login information.
  %p
    The information furnished by you during the registration process will be
    kept in iCouch’s database. iCouch will use reasonable means to protect the
    integrity and safety of the database. However, such means are not
    fault-proof and iCouch will therefore not be liable for any direct,
    indirect, consequential or incidental damage that you may sustain due to
    unauthorized intrusion to the database. You consents to iCouch collecting
    and processing your personal information for normal business use by iCouch.

  %h3
    iCouch Use of Data
  %p
    iCouch uses IP addresses to analyze trends, administer the site, track
    movements on the site, and gather broad demographic information for
    aggregate use. IP addresses are also linked to personally identifiable
    information in order to enhance your experience when using our site. iCouch
    may also retain any e-mails, letters or other correspondence between you
    and iCouch to ensure quality control and the best possible service,
    although it has no obligation to do so.
  %p
    iCouch may use the information furnished by you, as well as information
    that it collects regarding use patterns and transactions that are conducted
    through iCouch.me, in order to improve iCouch.me, to analyze statistical
    information regarding iCouch.me, and to furnish such statistics to third
    parties, including advertisers. Information furnished to third parties will
    not identify the you personally.

  %h3
    Intellectual Property
  %p
    iCouch, Inc. is the sole owner of all the intellectual property, and in
    particular the copyright, trade marks, database and patents, in iCouch.me
    and in any software, application, graphics, text and other materials used
    therein, including the organization of the materials contained therein.
  %p
    iCouch.me contains copyrighted material, trade secrets and proprietary
    information owned by iCouch. This Agreement does not grant the you any
    rights to patents, copyrights, trade secrets, trade names, trademarks
    (whether registered or unregistered), domain names or any other rights,
    functions or licenses in respect of iCouch.me. You may not create
    derivative software based upon any trade secret, intellectual property or
    proprietary information of iCouch. Furthermore, you may not sub-license,
    assign or transfer, sell or make any other commercial use of his or her
    membership in iCouch.me.
  %p
    You may not adapt or use any trademark or trade name, domain name similar
    to or likely to be confused with that of iCouch’s and iCouch.me, or take
    any other action which infringes or impairs iCouch’s trademark rights.

  %h3
    Copyright Policy
  %p
    iCouch respects the intellectual property of others, and we ask our users
    to do the same. iCouch may, in appropriate circumstances and at its
    discretion, terminate the account or access of users who infringe the
    intellectual property rights of others.

  %h3
    Limited License
  %p
    iCouch grants you a nonexclusive, revocable right to use the Site provided
    that you do not copy, modify, create a derivative work of, reverse
    engineer, disassemble or otherwise attempt to discover any source code, or
    breach this Agreement.

  %h3
    Indemnification
  %p
    You will indemnify, defend and hold harmless iCouch, and its employees,
    representatives, agents and Affiliates against any and all losses, damages,
    suits, judgments, costs and expenses (including litigation costs and
    reasonable attorneys’ fees) arising out of or in connection with any claim,
    suit, action, or other proceeding brought against iCouch or such party, to
    the extent that such claim, suit, action or other proceeding is based on or
    arises from: (a) any breach of any representation, warranty, covenant or
    agreement to be performed by you according to this Agreement; (b) Your
    provision of services to any third party, regardless of whether or not they
    are users of the iCouch service; or © any materials that you have posted to
    iCouch.me and/or any content on your web site or otherwise provided to
    users.
  %p
    %strong You represent and warrant that you maintain and will continue to maintain adequate insurance if such insurance is required by any applicable laws or regulations which apply to the provision of services by you, including, without limitation, professional liability insurance applicable to the legal and medical professions.

  %h3
    No Assignment
  %p
    You shall not assign this Agreement or assign, pledge or mortgage any
    rights or delegate any obligations hereunder, in whole or in part, whether
    voluntarily or by operation of law, without the prior, written consent of
    iCouch. Any purported transfer, assignment or delegation by you without the
    appropriate prior written approval will be null and void and of no force or
    effect.

  %h3
    Modifications to this Agreement
  %p
    iCouch may change this Agreement by posting modifications on the Site.
    Unless otherwise specified by iCouch, all modifications shall be effective
    upon posting. Therefore, you are encouraged to check the terms of this
    Agreement periodically.
  %p
    By using the service or Site after the changes become effective, you agree
    to be bound by such changes to the Agreement. If you do not agree to the
    changes, you may terminate access to the Site and participation in iCouch
    services.

  %h3
    Miscellaneous
  %p
    Nothing in this Agreement shall be construed as making either party the
    partner, joint venture, agent, legal representative, employer, or employee
    of the other. Neither party shall have, or hold itself out to any third
    party as having, any authority to make any statements, representations or
    commitments of any kind, or to take any action, that shall be binding on
    the other, except as provided for herein or authorized in writing by the
    party to be bound. This Agreement shall be interpreted only in accordance
    with the laws of the State of Nevada (excluding any rules governing choice
    of laws) and any legal proceeding arising out this Agreement will occur
    exclusively in courts of Nevada, unless mutually agreed upon by you and
    iCouch. You agree that regardless of any statute or law to the contrary,
    any claim or cause of action arising out of or related to this Agreement or
    the Site must be filed within one (1) year after such claim or cause of
    action arose or be forever barred. This Agreement will be binding on and
    will inure to the benefit of the legal representatives, successors and
    assigns of the parties hereto. This Agreement (and the policies referenced
    herein and incorporated by reference) constitutes the entire agreement
    between iCouch and you with respect to the subject matter hereof, and you
    have not relied upon any promises or representations by iCouch with respect
    to the subject matter except as set forth herein. You are prohibited from
    providing services to users who live in a country which is prohibited by
    law, regulation, treaty or administrative act from entering into trade
    relations with the United States. Such countries include, without
    limitation, Cuba, Iran, Libya, North Korea, Syria and Sudan. In the event
    of any conflict between this Agreement and the User Agreement, this
    Agreement shall take precedence.
  %p
    No waiver, concession, extension, representation or any alteration or
    addition to these Agreement or pursuant hereto will be effective unless
    made expressly and in writing. The paragraph headings herein are solely for
    the sake of convenience and will not be applied in the interpretation
    hereof. If any provision of this Agreement is held by a court of competent
    jurisdiction to be illegal, invalid, unenforceable or otherwise contrary to
    law, the remaining provisions of this Agreement will remain in full force
    and effect.

  %h3
    Violation:
  %p
    You may report any violation of this Agreement to
    #{mail_to 'counselors@icouch.me'}.
  %p
    Updated November 19, 2011.
  %br
  %br
  %h3 Want to learn more? Visit the #{link_to"iCouch Lounge", the_lounge_path}!
  %br
  %br
  %h3
    %center Your therapy. Your couch. iCouch.
