- content_for :head do
  %meta{:name => "description", :content => "What are the different styles of therapy? There are four major therapy approaches: Client-Centered, Cognitive Behavioral, Psychoanalysis, and Integrated."}/
  %meta{:name => "keywords", :content => "counseling, therapy, hypnosis, free-association, CBT, interpersonal, client-centered, psychoanalysis, pragmatic, pragmatic interpersonal psychotherapy, theory, iCouch CBT app, psychology, Dr. Timothy Kelly, Freud" }/
  - @title ="iCouch | Styles of Therapy"
  %title =@title

%section#static_content
  %header
    %h1 The Four Major Therapy Approaches
  %article.copy
    %h2 Client-Centered Therapy
    %p Client-Centered Therapy (CCT) was developed by Carl Rogers in the 1940s. It is a non-directive approach to therapy, "directive" meaning any therapist behavior that deliberately steers the client in some way.  Directive behaviors include asking questions, offering treatments, and making interpretations and diagnoses.  Most therapy practiced in the US is directive. A non-directive approach is very appealing to many people, because they get to keep control over the content and pace of the therapy. The therapist isn't evaluating them in any way or trying to "figure them out." CCT is about guiding the person to help understand themselves and inevitably, help them come up with their own solutions to problems.
    %p It might seem that CCT therapy lacks direction -- there are lots of questions, but not a lot of counselor-provided answers. The idea is to lead the person to figuring themselves out and help them come up with their own solutions. The counselor's chief "work" in this type of therapy is to ask the right questions. It's very similar to the Socratic Method -- a way of teaching that questions are answered with questions in a way that empowers the student to arrive at the answers themselves.

    %h2 Cognitive Behavioral Therapy "CBT"
    %p By far the most popular approach in modern psychology, Cognitive Behavioral Therapy (CBT) is what most people think of when they think of counseling. CBT is oriented around the "here and now" and focuses on specific symptoms rather than the more expansive (and time consuming) approach of other therapies. Rather than talking about childhood, in CBT, a person is more likely to talk about specific, current situations. For example, if a person has anger issues, it might be rooted in some childhood trauma, however, the CBT counselor doesn't probe into the childhood issues, but instead will help the person deal with the present.

    %h3 Here's an example of a CBT exchange between a client and counselor:
    %dl
      %dt Client:
      %dd "I'm angry all the time at work; I often snap at coworkers when they don't put paper in the copy machine."
      %dt CBT Counselor:
      %dd "So what other things at work make you angry?"
      %dt Client:
      %dd "I really hate it when my boss gives me extra work because my other team members don't pull their weight."
      %dt CBT Counselor:
      %dd"So how do you feel just before you go to the copy machine?"
      %dt Client:
      %dd "I just know that one of my idiot coworkers didn't put paper in the machine. So I feel angry, obviously, but I also feel a little anxious because I know I'm about to be angry."
      %dt CBT Counselor:
      %dd "What I'd like you to try tomorrow at work, is, before you go to the copy machine, do some deep-breathing, count to ten, and then bring paper with you to the copy machine. We can't fix your coworkers, but we can help you prepare for your frustration by having you arrive at the copy machine ready to put paper in it. Also, what you might do is put a polite note on the machine. It's possible that others don't realize what they are doing--"
      %dt Client:
      %dd "Oh, they know! They do it on purpose!"
      %dt CBT Counselor:
      %dd "Assuming that's true, what do you think you could do?"
      %dt Client:
      %dd "I could try to not let it bother me so much."
      %dt CBT Counselor:
      %dd "Exactly. The way to do that is to anticipate your feelings, calm yourself and be proactive at dealing with the copy machine paper. If you minimize the trigger of your frustration, which seems to be coworkers that aren't doing their part, then you won't feel as angry."
      %dt Client:
      %dd "I guess I could try that. When I know I'm about to be angry, I can try to minimize it."
      %dt CBT Counselor:
      %dd "Relaxation, anticipation and preparation can help you. Now, on the other issue of you being penalized for your team member's work quality, one thing you might do that could help is by checking with your team and seeing if they need help before your boss gets involved."
      %dt Client:
      %dd "But those idiots need to do their job! It's not my responsibility."
      %dt CBT Counselor:
      %dd "I can see how you feel that way, but when they make mistakes, it affects you directly right?"
      %dt Client:
      %dd "Well, yes."
      %dt CBT Counselor:
      %dd "Then perhaps if you helped them, maybe mentor them or assist them in getting the job done correctly, you'll not only help build your team, you'll help yourself. Also, they'll likely look up to you more, or at least appreciate you more and you might even be able to solve your copy machine problems. Rather than getting angry, think like a teacher would think towards a student -- use your skills to build your team and you should find that your anger will diminish. If anything, taking a more active and positive role in the situation will help you feel better when the small things don't go your way."
    %p In this exchange, it's clear that the counselor isn't probing the potential deep-seated issues for the anger. Such as childhood trauma or problems long ago. The CBT therapist looks for ways to help a person with their immediate issues.  Research consistently shows that CBT is one of the best ways to solve a person's problems in the shortest amount of time. While there may be deeper concerns causing a person's problems, the CBT approach is highly effective because it creates practical solutions to immediate problems, allowing a person to gain confidence at overcoming their concerns. A CBT therapist helps the client see the same problem from a different perspective. The fantastic #{link_to "iCouch CBT", "http://itunes.apple.com/us/app/icouch-cbt/id446115508?mt=8"} app is designed around this concept.
    %p After the CBT approach solves the immediate symptoms, some counselors may ask the client if they'd like to explore the long-term root causes of their issues. This deeper exploration is known as Psychoanalysis.

    %h2 Psychoanalysis
    %p "So, tell me about your mother.." This popular cliché in psychology was the hallmark of Sigmund Freud. Psychoanalysis relies upon several premises:
    %ul
      %li Human behavior is determined by irrational drives.
      %li Those drives are largely not conscious.
      %li Attempting to bring those drives into awareness meets defense (resistance) in many different forms.
      %li Beside the inherited aspects of personality, development is determined by early childhood events.
      %li Conflicts between the conscious view of reality and unconscious (repressed) material can result in mental
      disturbances such as neurosis, neurotic traits, anxiety, depression etc.
      %li The liberation from the effects of the unconscious material is achieved through bringing this material into the consciousness (via e.g. skilled guidance from the therapist.)
    %p Psychoanalysis has historically been the stereotypical "therapy" popularized in nearly every Woody Allen film. The tools of psychoanalysis include dream interpretation, free association and other similar tools. It is far less popular than in years past, but there are still a large number of practitioners. It's also takes a considerable amount of time to achieve tangible results as opposed to CBT which often yields positive behavior changes in as little as 18-20 sessions. Many researchers agree that psychoanalysis is best combined with other, more "concrete" therapy methods to achieve optimal client improvement.

    %h2 Integrated Psychotherapy
    %p== Integrated Psychotherapy tends to take a more holistic approach, combining various therapy styles while focusing on several aspects of a person's concerns. Using the example above with the workplace anger, an intergrated approach would focus on concrete solutions (i.e. CBT) while also exploring deeper issues and perhaps including Client-Centered elements as well. Despite what many counselor's may claim, most counselors use an Integrated Psychotherapy as their standard method. Many counselors claim to be psychoanalysts or CBT therapists or Client-Centered, however as a practical matter, they tend to blend styles based on the goals of the client. There isn't a set formula followed by a counselor &mdash; every counselor blends the various theories differently based on their training and experience.
    %p One promising blend that is gaining popularity is called Pragmatic Integrated Psychotherapy (PIP.) PIP was developed by #{link_to "Dr. Timothy Kelly", "http://www.takconsult.com/html/MediaPub.html"} and is a more structured approach to Integrated Psychotherapy combining the pragmatism of "what works" with elements of CBT, Client-Centered and Psychoanalysis. Dr. Kelly also acknowledges the role that spirituality can play in treatment.

    %h2 So which approach is best? How do I choose?
    %p People seem to think they "want" one therapy over another, but as a practical matter, every client is different and a skilled counselor will adapt their approach to serve their client's needs. While it's popular to request CBT, for example, a person might have needs that are better met through other approaches. While the client is always the "boss," it's a good idea to keep an open mind about all modes of therapy. The most important thing is that a person wants to improve themselves and feels motivated for progress. Fundamentally, the most vital element of counseling is the client-counselor relationship. With trust and mutual respect, people can and do improve and become more productive and happier.

    %h2== A caveat&hellip;
    %p The therapy styles presented above are subject to spirited debate. The explanations are simply meant to be a general guide to the major approaches used in the counseling process. There's plenty of overlap and occasionally some disagreement about the characteristics of each style. The important thing is that your counselor do what's best for you!  Don't let the latest television story or magazine article tell you what's "best." Remember, just keep an open mind, be honest with your counselor and you'll be on your way to making yourself the best person you can be.

    %h3 Want to learn more? Visit the #{link_to "iCouch Lounge", the_lounge_path}!
    %h3 Your therapy. Your couch. iCouch.
