%article.copy
  %h2{ style: "margin-top:0px;" } Thank you for signing up!
  %p iCouch individually reviews each counselor application. All information included on an application is subject to verification, but especially review license validity, any complaints or disciplinary incidents. Unlike other sites, we personally review each application to ensure that only the best counselors are available for iCouch clients. You've worked hard on your license, education and reputation and we work hard to ensure that our iCouch counselors are of the highest quality to ensure that our users feel confident about using the iCouch.me online counseling platform.
  %p After we review your application, we'll either approve or deny you based on our own internal criteria.  Our criteria is somewhat subjective, however if you are in good standing and have appropriate qualifications based on your geographic area, you'll generally be approved. We don't have any bias based on a particular school, location or certifications. iCouch is designed for all types of counselors! Our goal at iCouch is to make quality counseling available to whomever needs it; which necessarily requires a wide range of counselors.
  %p Thanks again for signing up. You can expect an application review within the next 8 hours. When you're approved, you'll receive a welcome email that provides you the details you'll need to hit the ground running. Clients will be able to view your profile immediately after approval and book sessions with you right away.
  %h4 For questions about the approval process, email our Head Psychologist Jessica Rios at #{mail_to 'jessica@icouch.me'}.
  %br
  %p
    %h3
      %center Your therapy. Your couch. iCouch.
